= render 'shared/header'
= render 'shared/navigation'

.project-grid
  - if @projects.present?
    - @projects.each do |p|
      = render 'shared/projectcontainer', project: p

= render 'shared/footer'