.footer
  .mountains-back
    = image_tag 'mountains_back.png', class: 'mountains-back__image'
  .mountains-front
    = image_tag 'mountains_front.png', class: 'mountains-front__image'
  .mini-banner
    Maike Weckenbrock - Graphics and Illustration