.header
  .logo
    = link_to root_path, class: 'logo__link' do
      = image_tag 'logo.svg', class: 'logo__image'
  #nav-toggle.nav-toggle
    = image_tag 'burger_menu.svg', class: 'burger_menu'
  .deco-object
    = image_tag 'rain.png', class: 'rain'