// Variables
$small-breakpoint: 600px;

// Fonts

@font-face {
  font-family: "MeltowSan100-Regular";
  src: font-url('MeltowSan100-Regular.otf') format("truetype");
}

@font-face {
  font-family: "MeltowSan100-Italic";
  src: font-url('MeltowSan100-Italic.otf') format("truetype");
}

@font-face {
  font-family: "MeltowSan200-Regular";
  src: font-url('MeltowSan200-Regular.otf') format("truetype");
}