@import 'variables';

.about {
  padding: 1rem;
  margin-top: 13rem;

  &__image-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;
  }

  &__image {
    width: 30rem;
    height: 100%;
  }

  &__text {
    font-size: 1.6rem;
  }

  &__highlight {
    color: rgb(203, 62, 19);
  }

  &__home-link {
    position: absolute;
    margin: 2rem 0 6rem 0;
    font-family: 'MeltowSan100-Regular';
    font-size: 1.6rem;
    text-decoration: none;
    color: grey;
    &:hover {
      color: red;
    }
  }
}

@media only screen and (min-width: $small-breakpoint) {
  .about {
    display: grid;
    grid-template: auto auto / minmax(5rem, 70rem) minmax(15rem, 30rem);
    margin: 13rem 12rem 0 24rem;

    &__text {
      grid-column: 1;
      grid-row: 2;
      padding-right: 0.6rem;
    }

    &__image-container {
      grid-column: 2;
      grid-row: 2;
    }

    &__image {
      width: auto;
      max-height: 35rem;
    }

    &__headline {
      grid-column: 1;
      grid-row: 1;
    }
  }
}
