@import 'variables';

.mini-banner {
  position: fixed;
  bottom: 2rem;
  left: 0;
  right: 0;
  height: 2.2rem;
  z-index: 30;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.2rem;
  background-color: rgba(255, 255, 255, 0.6);
}

.mountains-back {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20rem;
  z-index: 1;

  pointer-events: none;

  background-image: asset-url('mountains_back.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.mountains-front {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20rem;
  z-index: 20;

  pointer-events: none;

  background-image: asset-url('mountains_front.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;

}

@media only screen and (min-width: $small-breakpoint) {
  .mini-banner {
    display: none;
  }

  .mountains-back{
    height: 30rem;
  }

  .mountains-front {
    height: 30rem;
  }
}
