@import 'variables';

.project {
  padding: 1rem;
  margin-top: 13rem;
}

.scroller {
  position: relative;
  width: 100%;
  z-index: 25;
}

.project-image {
  width: 100%;
}

.project-text {
  position: relative;
  z-index: 25;
  margin: 6rem 0 2rem 10rem;
  font-size: 1.4rem;
}

.home-link {
  position: relative;
  z-index: 25;
  margin: 0 0 0 10rem;
  padding-bottom: 8rem;
  font-family: 'MeltowSan100-Regular';
  font-size: 1.6rem;
  text-decoration: none;
  color: grey;
  &:hover {
    color: red;
  }
}

.project-title {
  font-family: 'MeltowSan200-Regular';
  font-size: 1.8rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
}

.project-description {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
}

.project-link {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.8);

  a {
    font-family: 'MeltowSan100-Regular';
    font-size: 1.4rem;
    text-decoration: none;
    color: grey;
    &:hover {
      color: red;
    }
  }
}

@media only screen and (min-width: $small-breakpoint) {
  .project {
    margin: 13rem 12rem 0 24rem;
    display: grid;
    grid-template: auto / 30rem minmax(40rem, 80rem);
  }

  .project-image {
    width: auto;
    max-height: 50rem;
  }

  .project-text {
    grid-column: 1;
    grid-row: 1;
    margin: 0;
  }

  .project-description {
    height: fit-content;
  }

  .scroller {
    grid-column: 2;
    grid-row: 1;
    max-height: 100%;
  }

  .home-link {
    margin: 2rem 0;
    padding: 0;
  }
}
