@import 'variables';

.projectcontainer {
  display: flex;
  justify-content: flex-end;
  grid-column: 2 / 3;
}

.previewImage {
  width: 300px;
  height: 300px;
}

@media only screen and (min-width: $small-breakpoint) {
  .projectcontainer {
    grid-column: auto;
  }
}