@import 'variables';

.project-grid {
  position: relative;
  display: grid;
  grid-template: 300px / 1fr 94% 4%;
  grid-row-gap: 2rem;
  margin-top: 13rem;
  z-index: 5;
}

@media only screen and (min-width: $small-breakpoint) {
  .project-grid {
    position: absolute;
    grid-template: 300px 300px / 300px;
    grid-auto-columns: 300px;
    grid-auto-flow: column;
    grid-gap: 2rem;

    left: 18rem;

    overflow-y: scroll;

    padding-right: 2rem;
  }
}