@import 'variables';

.wide-page-wrapper {
  position: relative
}

.grid-container {
  position: relative;
  margin: 13rem 0 0 0;
  z-index: 20;

  .ps-scrollbar-x-rail,
  .ps-scrollbar-y-rail {
    display: none !important
  }
}

.project-grid {
  position: relative;
  display: grid;
  grid-template: 300px / 1fr 94% 2rem;
  grid-row-gap: 2rem;
  z-index: 5;
  padding: 0 0 2rem 0;
}

.button-left {
  display: none;
}

.button-right {
  display: none;
}

@media only screen and (min-width: $small-breakpoint) {
  .grid-container {
    margin: 13rem 0 2rem 20rem;
    overflow-y: scroll;
  }

  .project-grid {
    grid-template: 250px 250px / 250px;
    grid-auto-columns: 250px;
    grid-auto-flow: column;
    grid-gap: 2rem;

    padding: 0 0 0 0;
  }

  .button-left {
    display: block;
    position: absolute;
    top: 20.4rem;
    left: 24rem;
    z-index: 20;
  }

  .button-right {
    display: block;
    position: absolute;
    top: 20.4rem;
    right: 2rem;
    z-index: 20;
  }

  .button-right, .button-left {
    width: 14rem;
    height: 14rem;
    border-radius: 100%;
    cursor: pointer;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */

    img {
      height: 12rem;
    }

    &:hover {
      -webkit-animation:spin 0.2s forwards 1;
      -moz-animation:spin 0.2s forwards 1;
      animation:spin 0.2s forwards 1;
    }

    @-moz-keyframes spin {
      100% {
        -moz-transform: rotate(10deg);
      }
    }
    @-webkit-keyframes spin {
      100% {
        -webkit-transform: rotate(10deg);
       }
    }
    @keyframes spin {
      100% {
        -webkit-transform: rotate(10deg);
        transform:rotate(10deg);
      }
    }
  }
}

@media only screen and (min-width: $large-breakpoint) {
  .wide-page-wrapper {
    margin: 20rem auto 0 auto;
    width: 160rem;
  }
}
